body
{
    background: #dddddd;
}

.btn-sq-lg {
    width: 200px !important;
    height: 200px !important;
    font-size: 16px;
}

.btn-sq {
    width: 100px !important;
    height: 100px !important;
    font-size: 10px;
}

.btn-sq-sm {
    width: 50px !important;
    height: 50px !important;
    font-size: 10px;
}

.btn-sq-xs {
    width: 25px !important;
    height: 25px !important;
    padding:2px;
}

.close
{
    color: white;
}

.container
{
    padding: 10px;
}

.modal-header
{
    color: white;
    background-color: #0099ff;
}

.modal-footer
{
    background-color: #dddddd;
}

.row
{
    padding: 10px;
}

#navbar-main
{
    background-color: #0099ff;
}